{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Bienvenue! </h1>
    {% if app.user %}
        <p> You are logged in as {{ app.user.username }}</p>
    {% endif %}
</div>
{% endblock %}
